[Unit]
Description=MockBase test service
After=network.target

[Service]
ExecStart=/srv/deployment/mockbase/deploy/mockbase/server
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
